<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home EJS</title>
</head>
<body>
    <main>
        <form>
            <input type="text" name="name">
            <input type="email" name="email">
            <button type="submit">send message</button>
        </form>
    </main>
</body>
</html>