#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(212, 134, 228);
  border-radius: 9px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #d0c7c7;
}
.button{
    min-width: 80px;
  min-height: 30px;
  white-space: nowrap;
}
.taskContainer{
  margin: 20px auto;
  text-align: left;
  padding: 20px;
}
input{
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 7px;
}
.dkrow{
  margin: 10px auto;
}